<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.cortex.batch.nightly</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/jesse/dev/cortex/batch/intelligent_orchestrator.py</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/jesse/dev/cortex</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PYTHONPATH</key>
        <string>/Users/jesse/dev/cortex</string>
    </dict>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>22</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>

    <key>StandardOutPath</key>
    <string>/Users/jesse/.cortex/batch/nightly_stdout.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/jesse/.cortex/batch/nightly_stderr.log</string>
</dict>
</plist>
